.secret1 {
  background-color: white;
  height: 30px;
  width: 50px;
  margin-left:50px ;
  border: none;

}.secret2 {
  background-color: white;
  height: 30px;
  width: 50px;
  margin-left: 10px ;
  border: none;
}